name: Publish to NuGet
on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: build, pack & publish
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: Publish
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: Tremble.csproj
